<h1>Adicionando Restaurantes </h1>
<% form_for @restaurante do |f| %>
  <%= error_messages_for @restaurante %>
  Nome: <%= f.text_field :nome %>  <br/>
  Endereço: <%= f.text_field :endereco %>  <br/>
  Especialidade: <%= f.text_field :especialidade %>  <br/>

  <%= f.submit %>

<% end %>

<br/>

<%= link_to "Voltar", restaurantes_url %>

