<%= form_for(@qualificacao) do |f| %>
  <%= error_messages_for @qualificacao %>

  <div class="field">
    <% if @qualificacao.cliente %>
      <%= f.hidden_field 'cliente_id'%>
    <% else %>
      <%= f.label :cliente_id %><br />
      <%= f.collection_select(:cliente_id, Cliente.order('nome'), :id, :nome, {:prompt => true}) %>
    <% end %>
  </div>
  <div class="field">
    <% if @qualificacao.restaurante %>
      <%= f.hidden_field 'restaurante_id'%>
    <% else %>
      <%= f.label :restaurante_id %><br />
      <%= f.collection_select(:restaurante_id, Restaurante.order('nome'), :id, :nome, {:prompt => true}) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= f.text_field :nota %>
  </div>
  <div class="field">
    <%= f.label :valor_gasto %><br />
    <%= f.text_field :valor_gasto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

