<!DOCTYPE html>
<html>
  <head>
    <title>Programa de Qualificação de Restaurante</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery', 'rails' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="pagina">
      <div id="topo">
        <%= image_tag "caelum.png", :id => "logo", :border => 0 %>
        <%= menu_principal %>
        <p style="color: green"><%= flash[:notice] %> </p>
      </div>

      <div id="corpo">
        <%= yield %>

        <script type="text/javascript">
          <%= yield :js %>
        </script>

      </div>
    </div>
  </body>
</html>

